:root{
     --primary-color: rgba(9, 54, 66, 0.7);
     --overlay-color: rgba(24, 39, 51, 0.85);
     --menu-speed: 0.75s;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Roboto', sans-serif;
     font-size: 62.5%;
     line-height: 1.4;
     background-color: var(--primary-color);
     color: white;
}
header{
     position: relative;
     background: var(--overlay-color);
     width: 100%;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 15px;
}
header::before {
     content: '';
     background: url(../images/bg-image.jpeg) no-repeat center center/cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}
header h1{
     font-size: 1.5rem;
}
header p{
     font-size: .75rem;
}
form{
     margin-top: 20px;
}
legend{
     font-size: 1.2rem;
}
.form-container {
     padding: 20px;
}
fieldset{
     padding: 20px;
     font-size: .8rem;
     border: 2px solid white;
}
#name, #email {
     background-color: inherit;
     border: none;
     color: white;
     border-bottom: 2px solid rgb(255, 255, 255);
     margin-left: 10px;
     width: 230px;
     height: 30px;
     margin-bottom: 20px;
}
#name:focus, #email:focus {
     color: white;
     outline: none;
}
#name:active, #email:active {
     color: rgb(219, 219, 219);
     outline: none;
}
textarea{
     margin-left: 10px;
     background-color: inherit;
     border: none;
     color: white;
     border-bottom: 2px solid rgb(255, 255, 255);
     margin-bottom: 20px;
}
textarea::placeholder{
     color: white;
}
#textarea-label {
     float: left;   
}
#btn {
     display: inline-block;
     border: none;
     background-color: var(--primary-color);
     color: white;
     padding: 0.75rem 1.5rem;
     margin-top: 1rem;
     text-decoration: none;
     transition: opacity .5s ease-in-out;
     display: flex;
     margin: 0 auto;
}
#btn:hover {
     color: white;
     opacity: 0.7;
}

@media (min-width: 768px) {
     form{
          width: 500px;
          margin: 0 auto;
     }
     fieldset{
          padding-left: 50px;
     }
     #name, #email {
          width: 300px;
     }
     textarea{
          width: 280px;
     }
}
@media (min-width: 1440px) {
     .menu-wrap{
          display: none;
     }
     .desktop-menu{
          display: flex;
          position: absolute;
          top: 20px;
          left: 30px;
          gap: 40px;
          font-size: 1.1rem;
          list-style: none;
          z-index: 10;
     }
     .desktop-menu li a{
          text-decoration: none;
          color: white;
          list-style: none;
     }
     .desktop-menu li a:hover {
          border-bottom: 2px solid white;
     }
}
