:root{
     --primary-color: rgba(9, 54, 66, 0.7);
     --overlay-color: rgba(24, 39, 51, 0.85);
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Roboto', sans-serif;
     font-size: 62.5%;
     line-height: 1.4;
     background-color: var(--primary-color);
     color: white;
}
.desktop-menu{
     display: none;
}
header{
     position: relative;
     background: var(--overlay-color);
     width: 100%;
     height: 150px;
     display: flex;
     flex: none;
     justify-content: center;
     margin-bottom: 15px;
}
header::before {
     content: '';
     background: url(../images/bg-image.jpeg) no-repeat center center/cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}
.intro{
     text-align: center;
     align-self: center;
}
.wrapper{
     padding: 10px 20px;
}
.wrapper h1 {
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 20px;
}
h1, h2 {
     font-size: 1.2rem;
}

.todolist {
     height: 45vh;
     /* border: 2px solid black; */
     overflow: scroll;
     margin-bottom: 10px;
}
.todolist li {
     position: relative;
     list-style-type: none;
     display: flex;
     gap: 15px;
     line-height: 45px;
     justify-content: space-between;
     padding: 0 15px;
     border-radius: 10px;
     background-color: rgb(245, 245, 245);
     color: black;
     font-size: .9rem;
     margin-bottom: 5px;
     height: 45px;
     overflow-x: hidden;
}
.todolist li span {
     position: absolute;
     right: -45px;
     background-color: red;
     height: 100%;
     width: 45px;
     text-align: center;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     color: white;
}
.todolist li:hover span {
     right: 0;
     transition: all .3s ease-in-out;
}
.inputField {
     display: flex;
     gap: 5px;
     margin-bottom: 20px;
}
.inputField input {
     width: 100%;
     padding: 10px 15px;
     border-radius: 10px;
     border: none;
}
.inputField input:active{
     outline: none;
}
.inputField button {
     font-size: 1.5rem;
     padding: 7px 8px;
     border-radius: 7px;
     border: none;
     background-color: #153744;
     cursor: pointer;
     color: white;
     opacity: 0.5;
     pointer-events: none;
}
.inputField button.active {
     opacity: 1;
     pointer-events: auto;
}
.footer {
     font-size: 1rem;
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
}
.task-no {
     color: red;
}
.clear button {
     padding: 10px;
     background-color: #153744;
     border-radius: 5px;
     border: none;
     color: white;
     opacity: 0.5;
     pointer-events: none;
}
.clear button.active {
     opacity: 1;
     pointer-events: auto;
}
.clear button:focus {
     color: red;
}

/* For tablet devices */
@media (min-width: 768px) {
     .wrapper{
          width: 60vw;
          margin: 0 auto;
     }
}

/* For Desktop devices */
@media (min-width: 1440px) {
     .menu-wrap{
          display: none;
     }
     .desktop-menu{
          display: flex;
          position: absolute;
          top: 20px;
          left: 30px;
          gap: 40px;
          font-size: 1.1rem;
          list-style: none;
     }
     .desktop-menu li a{
          text-decoration: none;
          color: inherit;
     }
     .desktop-menu li a:hover {
          border-bottom: 2px solid white;
     }
     .todolist li{
          height: 50px;
          line-height: 50px;
     }
}