:root{
     --primary-color: rgba(9, 54, 66, 0.7);
     --overlay-color: rgba(24, 39, 51, 0.85);
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Roboto', sans-serif;
     font-size: 62.5%;
     line-height: 1.4;
     background-color: var(--primary-color);
     color: white;
     height: 100vh;
     position: relative;
}
#container {
     /* position: relative; */
}
header{
     position: relative;
     background: var(--overlay-color);
     width: 100%;
     height: 150px;
     display: flex;
     flex: none;
     justify-content: center;
     margin-bottom: 15px;
}
header::before {
     content: '';
     background: url(../images/bg-image.jpeg) no-repeat center center/cover;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}
.intro{
     text-align: center;
     align-self: center;
}
.content{
     padding: 20px;
     position: relative;
}
.content h1 {
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 20px;
}
h1, h2 {
     font-size: 1.4rem;
}
.clear{
     position: absolute;
     top: 15px;
     right: 15px;
}
.clear .fa-sync {
     font-size: 1.2rem;
}
#list{
     margin-bottom: 30px;
     /* border: 2px solid black; */
     height: 310px;
     overflow-y: scroll;
}
.item{
     display: flex;
     flex-direction: row;
     border-radius: 10px;
     padding: 15px;
     margin: 10px 0;
     background-color: whitesmoke;
     color: black;
     font-size: .8rem;
     font-weight: bold;
}
#input{
     padding: 10px 15px;
     border: none;
     border-radius: 10px;
     background: white;
     width: 300px;
}
#add-to-do{
     position: absolute;
     display: flex;

     bottom: 20px;
     left: 20px;
}
#add-to-do i{
     /* float: right; */
     /* position: absolute; */
     font-size: 3em;
     top: 5px;
     right: 5px;
     margin: 8px;
}
